Source: com.github.bbuhler.hostsmanager
Section: x11
Priority: extra
Maintainer: Benjamin Buhler <hostsmanager.app@freiken-douhl.de>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0)
Standards-Version: 3.9.5

Package: com.github.bbuhler.hostsmanager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: With HostsManager you can manage entries in your /etc/hosts file.
